@import './public/src/sass/_import';
section#login-view, section#register-view{
    width: 100%;
    height: 100vh;
    display: flex;

	form{
		@include grid(4,4,4,8,8);
		margin: 0 auto;
		padding: 2em;
		@include mediaQuery(0,0,0,1,1){
			padding: 0;
		}
		display: flex;
		flex-direction: column;
		justify-content: center;
		.title-wrapper{
			margin: 1em;
			h1{
				text-align: center;
				margin:0;
			}
			p{
				text-align: center;
				font-size: .9em;
				color: gray;
				line-height: 1.5em;
			}
		}
		.f-control{
			width: 100%;
			margin: .5em 0 .7em;
			position: relative;
			label{
				display: block;
				padding: .5em 0;
			}

			a{
				padding: .5em 0;
				position: absolute;
				top:7px;
				right:0;
				font-size: .7em;
				color: gray;				
			}
			input, button{
				width: inherit;
				box-sizing: border-box;
				padding: 0.7em 1em;
				border-radius: 5px;
				border: 1px solid lightgray;
			}
			input[type=submit], button{
				display: block;
				background-color: #1862c6;
				color: white;
				outline: none;		
				&#google-submit{
					background-color: rgb(221,74,55);
				}	
				&#facebook-submit{
					background-color: rgb(82,126,190);
				}	
				&#email-submit{
					background-color: rgb(84,84,84);
				}	
			}
		}
		aside{
			p{
				text-align: center;
				font-size: .7em;
				color: gray;		
				a{
					padding: 0 1em;
					color: #1862c6;
					text-decoration: none;
				}
			}
		}
	}
	#poster{
		background-size: cover;
		background-position: center;
		height: 100%;
		@include grid(8,8,8,0,0);
	}
}