<nav>
	<ul>
		<li><a href="/">Members</a></li>
<!-- 		<li><a href="/">Reporting</a></li> -->
	</ul>
	<div class="logo">
		<a href="/"><img src="/dist/img/logo.png" alt=""></a>
	</div>
	<div class="right">
		<div id="search">
			<i class="fa fa-search"></i>
			<input type="text" placeholder="Search members">
		</div>
		<div id="avatar">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_isWgOJHA7YNXAhKDE5h12SW2l91gIYU9YfZTisz4KItXN18U" alt="">
			<img src="{{avatar}}" alt="avatar">
		</div>
		<ul class="dropdown hide">
			<li><a href="/profile">Profile</a></li>
			<li><a href="">Settings</a></li>
			<hr/>
			<li><a id="reset-password-btn">Reset Password</a></li>
			<li><a id="signout-btn">Sign Out</a></li>
		</ul>
		</div>
	</div>
</nav>