<section id="db-get">
	<div class="wrapper">
		<header>
			<h1>All Members</h1>
			<div>
				<button class="export-btn">Export as</button>
				<button id="add-new-member-btn" class="add-new-member-btn"><i class="fa fa-plus"></i> New Member</button>
			</div>
		</header>
		<table id="collection-table">
			<tr>
				<th>first name</th>
				<th>first name</th>
				<th>first name</th>
				<th>first name</th>
				<th>first name</th>
				<th>first name</th>			
			</tr>
			<tr>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
			</tr>
			<tr>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
			</tr>		<tr>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
			</tr>		<tr>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
			</tr>		<tr>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
			</tr>		<tr>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
				<td>Dennis Ka Shing</td>
			</tr>
		</table>
	</div>
</section>
