@import './public/src/sass/_import';
section#not-found-view, 
section#confirmemail-view{
    width: 100%;
    height: 100vh;
    display: flex;
    div.wrapper{
    	@include grid(6,6,6,8,8);
    	margin: 0 auto;
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	text-align: center;
    	span{
			font-size: .7em;
			font-weight: bold;
			text-transform: uppercase;
			color: rgba(0,0,0,.5);
			margin: 1.5em 0;
    	}
    	h1{
			margin: 0 auto;
    	}
    	p{
			color: rgba(0,0,0,.5);

    	}
    	div.form-control{
			input{
				display: block;
				background-color: #1862c6;
				color: white;	
				padding: 0.7em 1em;
				border-radius: 5px;
				margin: 1.5em auto 0;
				outline: none;			
			}
    	}
    }
	#poster{
		background-size: cover;
		background-position: center;
		height: 100%;
		@include grid(6,6,6,0,0);
	}
}