{{> style }}
<section id="not-found-view">
	<div class="wrapper">
		<span>{{404-error}}</span>
		<h1>{{title}}</h1>
		<p>{{subtitle}}</p>
		<div class="form-control">
			<input type="submit" value="{{404-button-label}}">
		</div>
	</div>
	<div id="poster" style="background-image:url(https://images.unsplash.com/photo-1518887371124-412923b6ccff?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0ca7e3d745d3d5d14cad59a77b994de4&auto=format&fit=crop&w=750&q=80)"></div>
</section>